/*Photo gallery slide*/
.modal.modalGallery {
	background: transparent;
	box-shadow: none;
	border: none;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalGallery.modal.fade.in {
	/* top: 12% !important; */
	top: 0% !important;
	box-shadow: none;
}

.modalGallery .carousel {
	height: 500px;
	margin-bottom: 0;
}

.modalGallery .modal-body {
	background: transparent !important;
	overflow: visible;
	position: relative;
	border: none;
	position: absolute;
	top: 12%;
	right: 5%;
	left: 5%;
	bottom: 5%;
	height: 500px;
}

.modalGallery button.close {
	background: transparent;
	border-radius: 50%;
	box-shadow: none;
	color: #ccc;
	font-size: 3.5em;
	opacity: 1;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 4;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.modalGallery button.close:hover {
	color: red;
	font-weight: bold;
	opacity: 1;
}

.modalGallery .carousel-inner {
	max-height: 630px;
}

.modalGallery .carousel-inner>.item {
	/* height: 100%; */
}

.modalGallery .carousel-inner>.item p {
	margin-bottom: 0;
}

.modalGallery .carousel-inner>.item>img {
	width: auto;
	display: table;
	margin: auto;
	height: 500px;

}

.modalGallery .slide .carousel-control {
	background-color: transparent;
	border: none !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	padding: .2em;
	opacity: 0.8;
	top: 45%;
	z-index: 9999;
	width: 30px;
	height: 30px;
	font-size: 80px;
}

.modalGallery .slide .carousel-control:hover {
	opacity: 1;
	background-color: transparent;
}


.modalGallery a.left {
	left: -5%;
}

.modalGallery a.left img {
	margin-top: -4px;
	margin-left: -7px;
	height: 30px;
	width: 30px;
}

.modalGallery a.right {
	right: -5%;
}

.modalGallery a.right img {
	margin-top: -4px;
	margin-right: -7px;
	height: 30px;
	width: 30px;
}

.modalGallery a.left:hover,
.modalGallery a.right:hover {
	background: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

.modal-backdrop.in {
	opacity: 0.7 !important;
}

.modal.modalGallery iframe {
	width: 95% !important;
	height: 90% !important;
	display: block;
	position: absolute;
	top: 4.5%;
	left: 2.5%;
	right: 0;
	bottom: 0;
}


/* Media Queries */
@media only screen and (min-width: 980px) and (max-width: 1199px) {
	.modalGallery .carousel {
		height: 380px;
	}

	.modalGallery .carousel-inner>.item>img {
		height: 380px;
	}

	.modalGallery .modal-body {
		top: 5%;
		height: 380px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.modalGallery .modal-body {
		top: 5%;
		height: 320px;
	}

	.modalGallery .carousel {
		height: 320px;
	}

	.modalGallery .carousel-inner>.item>img {
		height: 320px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.modalGallery .modal-body {
		top: 5%;
		height: 220px;
	}

	.modalGallery .carousel {
		height: 220px;
	}

	.modalGallery .carousel-inner>.item>img {
		height: 220px;
	}

	.modalGallery a.left {
		left: -13%;
	}

	.modalGallery a.right {
		right: -13%;
	}

	.modalGallery .slide .carousel-control {
		top: 35%;
	}
}

@media only screen and (max-width: 480px) {
	.modalGallery .modal-body {
		top: 5%;
		height: 150px;
	}

	.modalGallery .carousel {
		height: 150px;
	}

	.modalGallery .carousel-inner>.item>img {
		height: 150px;
	}

	.modalGallery a.left {
		left: -20%;
	}

	.modalGallery a.right {
		right: -20%;
	}

	.modalGallery .slide .carousel-control {
		top: 22%;
	}
}


/* Fin Media Queries */


/*fade effect*/
.modalGallery .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.modalGallery .carousel-inner .active {
	opacity: 1;
}

.modalGallery .carousel-inner .active.left,
.modalGallery .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.modalGallery .carousel-inner .next.left,
.modalGallery .carousel-inner .prev.right {
	opacity: 1;
}

.modalGallery .carousel-control {
	z-index: 2;
}